/* styles.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
}

form .MuiTextField-root,
form .MuiFormControl-root,
form .MuiButton-root {
  flex: 1 1 200px;
  min-width: 200px;
}

.recent-searches {
  margin-top: 20px;
  width: 100%;
}

.recent-searches h3 {
  margin-bottom: 10px;
}

.recent-searches ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.recent-searches li {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.recent-searches li:hover {
  background: #e0e0e0;
}

@media (min-width: 768px) {
  form {
    justify-content: flex-start;
  }

  .recent-searches ul {
    justify-content: flex-start;
  }
}

.map-container {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.weather-container {
  width: 100%;
  font-size: large;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  

}
